body { 
  margin: 0; 
  padding: 0;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: darkblue;
    text-align: center;
}


#content {
    margin-top: 60px;
}

#top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: darkblue;
    text-align: center;
}



#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: darkblue; 
  text-align: center;
  color: white;
  margin-top: 20px;
  padding: 20px 0;
}




.outer1 {
    border: 0px solid black;
    margin: 1rem;
    padding: .5rem .5rem;
    text-align: center;
    color: white;
  }

  .innerright1 {
    display: inline-block;
    border: 0px solid red;
    padding: .5rem .5rem;
    vertical-align: middle;
  }



.outer1a {
    border: 0px solid black;
    margin: 1rem;
    padding: .5rem .5rem;
    text-align: center;
    color: white;
  }

  .innerright1a {
    display: inline-block;
    border: 0px solid red;
    padding: .5rem .5rem;
    vertical-align: middle;
  }




.outer2 {
    border: 0px solid black;
    margin: 1rem;
    padding: .5rem .5rem;
    text-align: center;
  }





  .outer3 {
    border: 0px solid black;
    margin: 1rem;
    padding: .5rem .5rem;
    text-align: center;
  }

  .innerleft3 {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright3 {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }






  
  .outer4 {
    border: 0px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }

  .innerleft4 {
    display: inline-block;
    border: 0px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright4 {
    display: inline-block;
    border: 0px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  

  


  .col-container, .col-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
  }
  
  .col, .col2 {
    grid: 1;
    padding: 16px;
    min-height: 100px;
    padding: 1em;
    border: invisible;
    margin: 2px;
  }
















  



  div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
  }
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
  }
  ul li:hover {
    background: lightskyblue;
  }
  ul li:hover ul {
    display: block;
  }
  ul li ul {
    position: absolute;
    width: 200px;
    display: none;
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  .headerdiv {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: center;
    background: transparent;
    color: white;
    font-size: 14px;
  }
  .col-container {
    display: table;
    width: 100%;
  }
  .col {
    display: table-cell;
    padding: 16px;
  }
  .col-container2 {
    display: table;
    width: 100%;
  }
  .col2 {
    display: table-cell;
    padding: 16px;
  }
  body {
    background-color: #006ff7;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  h2 {
    font-size: 1.2rem;
    color: navy;
    text-align: left;
    margin: 1rem;
  }
  nav {
    max-width: 100%;
    margin: 1rem auto;
  }
  #menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #menu::before {
    content: "☰";
  }
  #menu.open::before {
    content: "❎";
  }
  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
  }
  .navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  .navigation a:hover {
    background-color: #00fffb;
    color: #333;
    font-weight: 700;
  }
  .open a {
    display: block;
  }
  .mainbox {
    margin: 0m;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #006ff7;
    max-width: 100%;
    height: 100vh;
  }
  @media (min-width: 37.5em) {
    h1 {
      font-size: 2.5rem;
      margin-left: 0;
      text-align: center;
    }
    h2 {
      font-size: 2rem;
      text-align: center;
    }
    #menu {
      display: none;
    }
    .navigation {
      flex-direction: row;
    }
    .navigation a {
      display: block;
      flex: 1 1 100%;
    }
    .mainbox {
      margin: 1rem auto;
    }
  }

  







  

.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
}

.gridlines3 {
	background-color: teal;
	text-align: center;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 14px;  
  margin: 0.25rem;
  padding: 0.35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.grid4 {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  gap: 5px;
}

.gridlines4 {
	background-color: teal;
	text-align: center;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 14px;  
  margin: 0.25rem;
  padding: 0.35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

