body { margin: 0; padding: 0; }

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: darkblue;
    text-align: center;
}

#content {
    margin-top: 60px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: darkblue; 
    text-align: center;
    color: white;
}

.outer1 {
    border: 0px solid black;
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
  }

  .innerleft1 {
    display: inline-block;
    border: 0px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright1 {
    display: inline-block;
    border: 0px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }



.outer2 {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }

  .innerleft2 {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright2 {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }



  .outer3 {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }

  .innerleft3 {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright3 {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .outer4 {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }

  .innerleft4 {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright4 {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .outer5 {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }

  .innerleft5 {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright5 {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }