@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}


#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: darkblue;
  text-align: center;
}

.navigationz {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 20%;
	list-style: none;
	color: black;
  }



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.grid3 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > p {
  min-height: 60px;
}




.gridlines {
  background-color: teal;
}

.gridlines1 {
	background-color: teal;
	text-align: center;
	font-size: 20px;
	color: white;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .gridlines3 {
	background-color: rgb(185, 84, 165);
	text-align: center;
	font-size: 20px;
	color: black;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: darkblue; 
  text-align: center;
  color: white;
  margin-top: 20px;
  padding: 20px 0;
}

.text {
  color: blue;
}




dialog {
	margin: 10% auto;
	width: 100%;
	max-width: 350px;
	background-color: #fff;
	padding: 25px;
	border: 0;
	border-radius: 0px;
  }

dialog button {
	position: absolute;
	top: 20px;
	right: 20px;
}


.picture1 {
	opacity: 0;
	transition: opacity 230ms;
}

.picture1:hover {
	opacity: 1;
}